/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

/* Main Header Styles */
header {
    background-color: white; /* Changed to white to match design */
    padding: 2rem 0; /* Increased top and bottom padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    font-family: 'Roboto', sans-serif; /* Added new font */
}

.logo-container {
    font-size: 2.2rem; /* Increased font size */
    font-weight: bold;
}
.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin-left: 2.5rem; /* Increased margin */
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.1rem; /* Increased font size */
}

/*contact Info Styles */
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right) */
}

.contact-info a[href^="tel"] {
    font-size: 1.5rem; /* Increased font size */
    color: black; /* Changed color to black */
    text-decoration: none; /* Removed underline */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Spacing between number and button */
}

/* Button Styles */

.schedule-btn {
    background: linear-gradient(to right, #ffed59, #FF914D);
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Hero Section Styles */
.hero-section {
    padding: 4rem 2rem;
    text-align: center;
}

.hero-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-section p {
    max-width: 700px;
    margin: 0 auto;
}

/* Image Grid Styles */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 2rem;
}

.image-container img {
    width: 100%;
    display: block;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}